<!-- dialog -->
<p-dialog [header]="popupTitle" [(visible)]="display" [style]="{width: '50vw'}">
  <div *ngIf="productInfo; else newForm">
    <app-new-product [productInfo]="productInfo"></app-new-product>
  </div>
  <ng-template #newForm>
    <app-new-product></app-new-product>
  </ng-template>
</p-dialog>
<!-- data table -->
<p-table #dt [value]="salesData.data"
  [globalFilterFields]="['productID','productName', 'salesQ1', 'salesQ2', 'salesQ3', 'salesQ4']" selectionMode="single"
  dataKey="productID" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="addNew()"></button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input class="pl-4" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Search..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="productID" rowspan="2">{{ productID.header }} <p-sortIcon field="productID"></p-sortIcon>
      </th>
      <th rowspan="2" pSortableColumn="productName">{{ productName.header }} <p-sortIcon field="productName">
        </p-sortIcon>
      </th>
      <th colspan="4" class="text-center">{{ sales.header }} </th>
      <th rowspan="2">{{ totalSales.header }} </th>
    </tr>
    <tr>
      <th rowspan="2" pSortableColumn="salesQ1">{{ yearQ1.header }} <p-sortIcon field="salesQ1">
        </p-sortIcon>
      </th>
      <th rowspan="2" pSortableColumn="salesQ2">{{ yearQ2.header }} <p-sortIcon field="salesQ2"></p-sortIcon>
      </th>
      <th rowspan="2" pSortableColumn="salesQ3">{{ yearQ3.header }} <p-sortIcon field="salesQ3"></p-sortIcon>
      </th>
      <th rowspan="2" pSortableColumn="salesQ4">{{ yearQ4.header }} <p-sortIcon field="salesQ4"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sale>
    <tr [pSelectableRow]="sale">
      <td>{{ sale.productID }}</td>
      <td>{{ sale.productName }}</td>
      <td>{{ sale.salesQ1 }}</td>
      <td>{{ sale.salesQ2 }}</td>
      <td>{{ sale.salesQ3 }}</td>
      <td>{{ sale.salesQ4 }}</td>
      <td>{{ sale.salesQ1+sale.salesQ2+sale.salesQ3+sale.salesQ4 }}</td>
    </tr>
  </ng-template>
</p-table>
