<p-toast></p-toast>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let i of navItems" [routerLinkActive]="'active'" [routerLink]="i.link">
        <span class="nav-link">{{ i.label }}</span>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2 class="p-2" *ngIf="username">Welcome {{ username }}!</h2>
  <router-outlet></router-outlet>
</div>
